<a href="https://colab.research.google.com/github/siddhantraj16/python-experiment/blob/main/exp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write a program to count and display the number of capital letters in a given string

In [ ]:
s= input("enter a string :")
count = 0
for i in s:
  if i.isupper():
    count += 1
    print("No. of uppercase character :", count)

enter a string :I love india
No. of uppercase character : 1

Q2. write a program to count vowel

In [ ]:
s = input("enter a string :")
vowels = "aeiouAEIOU"
count = 0
for i in s:
  if i in vowels:
    count += 1
    print ("no. of uppercase character :", count)

enter a string :SIddHAnt
no. of uppercase character : 1
no. of uppercase character : 2

Q3.input a sentence and print words in seprate lines

In [ ]:
sentence = input("Enter a sentence: ")

words = sentence.split()

for word in words:
    print(word)

Enter a sentence: HELLO THIS A VERY GOOD PLACE
HELLO
THIS
A
VERY
GOOD
PLACE

Q4. wap to enter a string and a substring . you have to print the number of times that the substring oocurs in the given string. string traversal will take place from left to right not from right to left

In [ ]:
string_main = input("enter a string : ")
sub_string = input("enter a substring : ")

count = 0
start = 0

while True:
    pos = string_main.find(sub_string, start)
    if pos == -1:
        break
    count = count + 1
    start = pos + 1

print("no. of occurrences :", count)

enter a string : asdfghjkl
enter a substring : lkjhgfdsa
no. of occurrences : 0

Q5.given a string containing both upper and lower case alphabets. write a python program to count the number of occurencies of each alphabet and display the same.

In [ ]:
s = input("Enter a string: ")
s = s.upper()

count = {}

for ch in s:
    if ch.isalpha():
        if ch in count:
            count[ch] += 1
        else:
            count[ch] = 1

for key in count:
    print(key, ":", count[key])

Enter a string: ABaBCbGc
A : 1
B : 2
a : 1
C : 1
b : 1
G : 1
c : 1

Q6. program to count number of unique words in a given sentence using sets.

In [ ]:

sentence = input("Enter a sentence: ")
words = sentence.split()
unique_words = set(words)


print("Number of unique words:", len(unique_words))
print("Unique words are:", unique_words)

Enter a sentence: hello world hello python
Number of unique words: 3
Unique words are: {'world', 'python', 'hello'}

Q7. create 2 sets s1 and s2 of n fruits each by taking input from user and find:
a) fruits which are in both sets s1 and s2
b) fruits only in s1 but not in s2
c) count all the fruits from s1 and s2

In [ ]:

n = int(input("Enter number of fruits in each set: "))


s1 = set()
print("Enter fruits for set 1:")
for _ in range(n):
    fruit = input().strip()
    s1.add(fruit)

s2 = set()
print("Enter fruits for set 2:")
for _ in range(n):
    fruit = input().strip()
    s2.add(fruit)

both = s1 & s2
print("Fruits in both sets:", both)

only_s1 = s1 - s2
print("Fruits only in set 1:", only_s1)

all_fruits = s1 | s2
print("Total number of distinct fruits:", len(all_fruits))
print("All distinct fruits:", all_fruits)

Enter number of fruits in each set: 3
Enter fruits for set 1:
1
3
4
Enter fruits for set 2:
2
3
5
Fruits in both sets: {'3'}
Fruits only in set 1: {'1', '4'}
Total number of distinct fruits: 5
All distinct fruits: {'4', '1', '2', '5', '3'}

In [ ]:

n = int(input("Enter number of fruits: "))
s1 = set(input("Enter fruit: ") for _ in range(n))

s2 = set(input("Enter fruit: ") for _ in range(n))
print("Fruits in both sets:", s1 & s2)

print("Fruits only in set 1:", s1 - s2)

print("Total distinct fruits:", len(s1 | s2))

Enter number of fruits: 4
Enter fruit: 2
Enter fruit: 3
Enter fruit: 4
Enter fruit: 3
Enter fruit: 4
Enter fruit: 2
Enter fruit: 3
Enter fruit: 3
Fruits in both sets: {'3', '2', '4'}
Fruits only in set 1: set()
Total distinct fruits: 3

Q8. take two sets and apply various set operation on them .

In [ ]:
s1 = {"Red" ,"yellow", "orange", "blue" }
s2 = {"voilet", "blue", "purple"}
print(s1|s2) #union
print(s1&s2) #intersection
print(s1-s2) #difference
print(s1^s2) #symmetric difference

{'blue', 'orange', 'purple', 'voilet', 'yellow', 'Red'}
{'blue'}
{'orange', 'yellow', 'Red'}
{'voilet', 'orange', 'purple', 'yellow', 'Red'}