<a href="https://colab.research.google.com/github/siddhantraj16/python-experiment/blob/main/exp5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. scan n values in range 0-3 and print the number of times each value has occured

In [ ]:
n = int(input("Enter number of values: "))
count = [0, 0, 0, 0]
print("Enter values (0 to 3):")
for _ in range(n):
    value = int(input())
    if 0 <= value <= 3:
        count[value] += 1

for i in range(4):
    print(i, "occurred", count[i], "times")

Enter number of values: 5
Enter values (0 to 3):
0
1
2
3
0
0 occurred 2 times
1 occurred 1 times
2 occurred 1 times
3 occurred 1 times

Q2. create a tuple to store n numeric values and find average of all values

In [ ]:
num = int(input("Enter the number of values: "))
s = []

for i in range(num):
    n = int(input("Enter a number: "))
    s.append(n)
t = tuple(s)
avg = sum(t) / len(t)
print("The average of tuple items is:", avg)

Enter the number of values: 5
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: 3
Enter a number: 4
The average of tuple items is: 3.8

Q3. create a dictionary of n persons where key is name and value is city
a) display all names
b) display all city names
c) display student name and city of all students
d) count number of students in each city

In [ ]:
n = int(input("Enter number of persons: "))
persons = {}
for i in range(n):
    name = input(f"Enter name of person {i+1}: ")

Q4.Create a dictionary of n persons where key is name and value is city.
a) Display all names
b) Display all city names
c) Display student name and city of all students.
d) Count number of students in each city.

In [ ]:
# Create dictionary
n = int(input("Enter number of students: "))
students = {}

for i in range(n):
    name = input("Enter name: ")
    city = input("Enter city: ")
    students[name] = city


print("Names are:")
for name in students:
    print(name)

print("Cities are:")
for city in students.values():
    print(city)


print("Student name and city:")
for name in students:
    print(name, "->", students[name])


print("Number of students in each city:")
count = {}

for city in students.values():
    count[city] = students.values().count(city)

for city in count:
    print(city, ":", count[city])

Enter number of students: 2
Enter name: siddhant
Enter city: patna
Enter name: raj
Enter city: banglore
Names are:
siddhant
raj
Cities are:
patna
banglore
Student name and city:
siddhant -> patna
raj -> banglore
Number of students in each city:

AttributeError: 'dict_values' object has no attribute 'count'

Q5.Store details of n movies in a dictionary by taking input from the user. Each movie must
store details like name, year, director name, production cost, collection made (earning)
& perform the following :-
a) print all movie details
b) display name of movies released before 2015
c) print movies that made a profit.
d) print movies directed by a particular director.

In [ ]:
# Input number of movies
n = int(input("Enter number of movies: "))
movies = {}

# Taking input
for i in range(n):
    name = input("\nEnter movie name: ")
    year = int(input("Enter release year: "))
    director = input("Enter director name: ")
    cost = float(input("Enter production cost: "))
    collection = float(input("Enter collection made: "))

    movies[name] = [year, director, cost, collection]

# a) Print all movie details
print("\nAll Movie Details:")
for name in movies:
    print(name, ":", movies[name])

# b) Movies released before 2015
print("\nMovies released before 2015:")
for name in movies:
    if movies[name][0] < 2015:
        print(name)

# c) Movies that made profit
print("\nMovies that made profit:")
for name in movies:
    if movies[name][3] > movies[name][2]:
        print(name)

# d) Movies by particular director
d = input("\nEnter director name to search: ")
print("Movies directed by", d, ":")

for name in movies:
    if movies[name][1] == d:
        print(name)

Enter number of movies: 2

Enter movie name: pathan
Enter release year: 2022
Enter director name: kishor
Enter production cost: 2200
Enter collection made: 2000

Enter movie name: tmkoc
Enter release year: 2000
Enter director name: jogi
Enter production cost: 5000
Enter collection made: 9000

All Movie Details:
pathan : [2022, 'kishor', 2200.0, 2000.0]
tmkoc : [2000, 'jogi', 5000.0, 9000.0]

Movies released before 2015:
tmkoc

Movies that made profit:
tmkoc

Enter director name to search: jogi
Movies directed by jogi :
tmkoc

Q6.Create a Todo list Manager where users can add, view, and remove tasks. Use List for
storing tasks.

In [ ]:
tasks = []

while True:
    print("\n1. Add Task")
    print("2. View Tasks")
    print("3. Remove Task")
    print("4. Exit")

    choice = input("Enter choice: ")

    if choice == "1":
        task = input("Enter task: ")
        tasks.append(task)
        print("Task added!")

    elif choice == "2":
        print("Tasks:")
        for t in tasks:
            print(t)

    elif choice == "3":
        task = input("Enter task to remove: ")
        if task in tasks:
            tasks.remove(task)
            print("Task removed!")
        else:
            print("Task not found!")

    elif choice == "4":
        break

    else:
        print("Wrong choice!")

1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Tasks:

1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Task added!

1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Tasks:
2

1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Tasks:
2

1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Tasks:
2

1. Add Task
2. View Tasks
3. Remove Task
4. Exit

Q7.Create a contact book where users can store, search, update, and delete contacts. Use
dictionary for storing contacts.

In [3]:
contacts = {}

while True:
    print("\n1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit")
    choice = input("Enter choice: ")

    if choice == "1":
        name = input("Name: ")
        phone = input("Phone: ")
        contacts[name] = phone
        print("Contact added!")

    elif choice == "2":
        name = input("Enter name to search: ")
        if name in contacts:
            print("Phone:", contacts[name])
        else:
            print("Not found!")

    elif choice == "3":
        name = input("Enter name to update: ")
        if name in contacts:
            phone = input("New phone: ")
            contacts[name] = phone
            print("Updated!")
        else:
            print("Not found!")

    elif choice == "4":
        name = input("Enter name to delete: ")
        if name in contacts:
            del contacts[name]
            print("Deleted!")
        else:
            print("Not found!")

    elif choice == "5":
        print("Contacts:", contacts)

    elif choice == "6":
        break

    else:
        print("Invalid choice!")

1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit
Enter choice: 2
Enter name to search: rana
Not found!

1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit
Enter choice: 3
Enter name to update: raj
Not found!

1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit
Enter choice: 4
Enter name to delete: raj
Not found!

1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit
Enter choice: 5
Contacts: {}

1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit
Enter choice: rana
Invalid choice!

1.Add  2.Search  3.Update  4.Delete  5.View  6.Exit
Enter choice: 6